rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId} {

      match /icon/{iconId} {
        allow read;
        allow create, update, delete: if request.auth != null && request.auth.uid == userId;
      }

      match /articles/{articleId} {
        allow read;
        allow create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
